.footer {
  width: 100%;
  padding: 3px 0;
  text-align: center;
  background-color: #1e1e1e;
  color: #aaa;
  font-size: 14px;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.socials {
  margin-bottom: 3px;
}

.socials a {
  color: #aaa;
  font-size: 22px;
  margin: 0 15px;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #edbcbc;
  transform: translateY(-3px);
}

.footer p {
  margin: 0;
}